.login {
  background-image: url('/bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 10% 0;
  margin: 0;
  .form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px 20px 20px 20px;
    span {
      background-color: transparent;
      border-color: #666;
    }
    input {
      background-color: transparent;
      border-color: #666;
    }
    h1 {
      font-size: 21px;
      text-align: center;
      padding-bottom: 23px;
      margin: 0;
    }
  }
}
